<div id="products">
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>

<%= paginate @products %>
<%if current_user%>
  <%= link_to "New product", new_product_path %>
  <%= link_to "logout", destroy_user_session_path, method: :delete, class: "login_btn"%>
<%else%>
  <%= link_to "login", new_user_session_path, method: :delete, class: "login_btn"%>
<%end%>