<!DOCTYPE html>
<html>
  <head>
    <title>MHPaperBags</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('MHpaper.jpeg') %>
  </head>

  <body class="light_theme" data-controller="hello">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <label id="switch" class="switch">
      <input type="checkbox" data-action="click->hello#change_theme">
      <span class="slider round"></span>
    </label>
    <%= yield %>
  </body>
</html>
